* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid #000; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  flex-basis: 100%;
}

html,
body,
#root {
  min-height: 100%;
  display: flex;
}

#root {
  flex: 1;
  background-color: #2c4229;
}

.AppContainer {
  display: flex;
  flex: 1;
}

.MainContainer {
  width: 100%;
  background-color: #343a40 !important;
}

.HomeContainer {
  display: flex;
  min-height: 100vh;
  margin-top: 0 !important;
}

.ParallaxContainer {
  position: relative !important;
}

.Parallax {
  display: flex;
  flex-direction: column !important;
}

.SideBar {
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #111418;
}

.LandingPage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  color: #fff;
  opacity: 1;
  position: relative;
}
.LandingPage > * {
  margin: 0.5rem;
}

.ProfilePic {
  height: 10rem;
  border-radius: 100px;
  margin: 1.5rem;
}

.ProfilePic:hover {
  cursor: pointer;
}

.NavContainer {
  justify-self: flex-start;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  flex: 1;
  background-color: #111418;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.HireButtons > a {
  margin: 3rem;
}

.NavItem {
  color: #fff !important;
  font-size: 2.4rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1.6rem;
}

.NavItem:hover {
  color: #20c997 !important;
}

.NavItem:active {
  color: #20c997;
}

.LandingPage::before {
  content: '';
  background-image: url('./images/yonatan-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  filter: brightness(0.7);
  z-index: 0;
}
.HireButtons {
  z-index: 2;
}
.TypeAnimation {
  color: #fff;
  opacity: 1;
  font-size: 5rem;
  z-index: 99;
  font-weight: 600;
}

.Welcome {
  font-size: 4rem;
  font-weight: 500;
  z-index: 99;
}

.HireBtn {
  border: 2px solid #20c997;
  color: #20c997;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.3rem 2rem;
  border-radius: 50rem !important;
  transition: all 0.5s ease;
  z-index: 3;
  background-color: transparent;
  margin-top: 2rem;
  text-decoration: none;
}

.HireBtn:hover {
  background-color: #20c997;
  border-color: #20c997;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: 500;
}

.BasedIn {
  color: #fff;
  z-index: 10;
  font-size: 2rem;
  font-weight: 400;
}

.About {
  background-color: #212529;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.AboutContainer {
  background-color: #212529;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Titles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BackgroundTitle {
  font-size: 10rem;
  position: relative;
  color: hsl(218, 9%, 18%);
}

.FrontalTitle {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 75%;
}

.FrontalTitle::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: -2px;
  left: 25%;
  border-bottom: 2px solid #20c997;
}

.AboutInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Summary {
  margin: 2rem;
  flex: 2;
}

.Summary > h2 {
  color: #fff;
  font-size: 3rem;
}

.Summary > p {
  font-size: 1.5rem;
  margin: 1em 0;
  color: hsla(0, 0%, 100%, 0.5) !important;
}

.AboutInfo > p,
.AboutInfo {
  line-height: 28.8px;
  color: #90928e;
  font-size: 1rem;
}

.InfoTableContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.InfoTableContainer > button {
  width: 50%;
  background-color: #20c997;
  border-color: #20c997;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  border-width: 2px;
  font-weight: 500;
  padding: 0.5rem 2rem;
  transition: all 0.5s ease;
  border-radius: 50rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfoTableContainer > button:hover {
  cursor: pointer;
  background-color: #1baa80;
}

.InfoTableContainer a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.name {
  color: #20c997;
}

.InfoTable {
  list-style: none;
}

.InfoTable > li {
  margin: 0.5em 0;
  text-align: center;
  display: flex;
}

.InfoTable .key {
  font-weight: 600;
  margin-right: 0.5rem;
  color: #dee3e4;
  font-size: 1.2rem;
}

.InfoTable span:not(.key) {
  font-weight: 400;
  margin-right: 0.5rem;
  color: #dee3e4;
  font-size: 1.2rem;
}

.Info {
  display: block;
  color: #20c997 !important;
}

.countryImg,
iframe {
  height: 250px;
  width: 300px;
}

.mapsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 1em 0;
}

.mapsContainer > svg {
  width: 4rem;
  height: 4rem;
  color: #1baa80;
  font-weight: 700;
}

.mapsContainer > svg:hover {
  cursor: pointer;
}

.city {
  font-weight: 400;
  margin: 8px;
  font-size: 1.8rem;
}

.placesLived {
  font-size: 2rem;
}

.ResumeContainer {
  background-color: #212529;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CvTitle {
  text-align: center;
  font-size: 3.2rem;
}

.CvInfo {
  display: flex;
  flex: 1;
  margin: 1.3rem;
}

.EducationContainer,
.ExperienceContainer {
  flex: 1;
}

.CvCardContainer {
  background-color: #111418 !important;
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  padding: 1rem;
  height: 21rem;
}

.CvCardContainer > * {
  margin: 0.3rem 0;
}

.Badge {
  background-color: #20c997;
  align-self: flex-start;
  padding: 0.4rem 1.2rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
}

.CardTitle,
.CardPlace,
.CardDescription {
  margin-left: 0.5rem;
}

.CardTitle {
  font-size: 2.5rem;
}

.CardPlace {
  color: #20c997 !important;
  font-size: 1.6rem;
}

.CardDescription {
  color: hsla(0, 0%, 100%, 0.5) !important;
  font-size: 1.6rem;
}

.SkillsContainer {
  align-self: stretch;
}

.SkillsCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.2rem;
}

.SkillNameContainer {
  margin: 1rem;
}

.SkillName {
  font-size: 2.2rem;
}

.BarContainer {
  height: 1rem;
  background-color: #111418 !important;
  margin-top: 0.6rem;
  border-radius: 12px;
  border: 0.5px solid #20c997;
}

.Bar {
  background-color: #20c997;
  border-radius: 12px;
  width: 50%;
  height: 100%;
}

.DownloadCvBtn {
  align-self: center;
  margin: 1.5rem;
  border: 1px solid #6c757d;
  font-weight: 500;
  padding: 1.5rem 3.6rem;
  transition: all 0.5s ease;
  border-radius: 50rem;
  background-color: #212529;
}

.DownloadCvBtn > a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #6c757d;
}

.DownloadCvBtn:hover {
  background-color: #6c757d;
  cursor: pointer;
}

.DownloadCvBtn:hover > a {
  color: #fff;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dee3e4 !important;
  background-color: #212529 !important;
  min-height: 100vh;
  margin-bottom: 0 !important;
}

.contactContainer .BackgroundTitle {
  color: #6c757d !important;
  opacity: 0.1;
}

.ContactInfoContainer {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-evenly;
  margin-top: 7rem;
}

.ContactInfo,
.ContactForm {
  margin: 0 2rem;
}

.ContactInfo {
  color: #dee3e4 !important;
  font-size: 1.5rem;
}

.ContactForm {
  display: flex;
  flex-direction: column;
}

.ContactForm > h4 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}

.contactContainer,
.HomeContainer,
.AboutContainer,
.ResumeContainer {
  flex: 1;
}

.FormInput {
  background: #303b45;
  border-color: #232a31;
  color: #fff;
  height: inherit;
  padding: 0.81rem 0.96rem;
  border: none;
  border-radius: 0.375rem;
  margin: 1rem;
}

.FormInput::placeholder {
  color: #777b7f;
}

.ContactForm button {
  width: 50%;
  background-color: #20c997;
  border-color: #20c997;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  border-width: 2px;
  font-weight: 500;
  padding: 1.5rem 6rem;
  transition: all 0.5s ease;
  border-radius: 50rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.NameEmailContainer {
  display: flex;
}

.NameEmailContainer > input {
  flex: 1;
}

.ContactForm textarea {
  min-height: 20rem;
}

.ContactDetails {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.IconContainer {
  margin-left: 0.5rem;
}

.IconContainer > svg {
  height: 3rem;
}

.LinkIcon {
  height: 3rem;
  display: inline-block;
}

.LinkIcon > .Icon {
  height: 3rem;
  display: inline-block;
}

.IconContainer > svg:hover {
  cursor: pointer;
}
.Icon {
  height: 2rem;
  fill: #20c997 !important;
  margin-right: 1.2rem !important;
  display: inline-block;
}

.FollowMe {
  margin: 3rem 0 1rem 0;
}

.SendMsgBtn {
  padding: 1.5rem 2rem !important;
}

.SendMsgBtn:hover {
  cursor: pointer;
}

.Toast {
  font-size: 1.4rem;
}

.ErrorMessage {
  display: flex;
  align-items: center;
  color: red;
}

@media (max-width: 940px) {
  html {
    font-size: 50%;
  }
  .contactContainer,
  .HomeContainer,
  .AboutContainer,
  .ResumeContainer {
    position: relative;
    top: 60px;
  }

  #root {
    display: block;
  }
  .CvCardContainer {
    height:auto;
  }

  .SideBar {
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .NavContainer {
    flex-direction: row;
    flex: 0;
  }
  .NavItem {
    margin: 2rem;
  }

  .ProfilePic {
    height: 6rem;
  }
  .AboutInfo {
    flex-direction: column-reverse;
  }

  .InfoTableContainer {
    margin-bottom: 4rem;
  }

  .InfoTable li span {
    font-size: 2rem !important;
  }
  .InfoTableContainer > button {
    width: 85%;
  }

  .mapsContainer {
    position: relative;
    flex-direction: column;
  }

  .placesLived {
    font-size: 2.5rem !important;
  }

  .mapsContainer #prev {
    position: absolute;
    left: 10%;
  }

  .mapsContainer #next {
    position: absolute;
    right: 10%;
  }
  .CvInfo {
    flex-direction: column;
    display: flex;
  }

  .SkillsCardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .EducationContainer,
  .ExperienceContainer {
    margin-bottom: 5rem;
  }

  .ContactForm {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .ContactForm h4 {
    text-align: center;
  }

  .ContactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .NameEmailContainer {
    flex-direction: column;
  }
  .Summary {
    margin: 3rem;
  }
}

@media (max-width: 600px) {
  .LandingPage > div {
    font-size: 60%;
  }
  .NavContainer a {
    font-size: 2rem;
  }

  .ContactInfoContainer {
    flex-direction: column;
  }
  .ContactInfo {
    position: relative;
    margin: 2rem 0 5rem 0;
  }

  .Summary h2 {
    font-size: 2.2rem;
  }

  .mapsContainer #prev {
    left: 5%;
    stroke-width: 4px;
  }

  .mapsContainer #next {
    right: 5%;
    stroke-width: 4px;
  }
  .Badge {
    padding: 0.4rem 5.2rem;
  }

  .contactContainer {
    flex: 1;
  }

  .ContactForm {
    justify-content: flex-start;
    align-self: stretch;
  }

  .ContactInfoContainer {
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .FollowMe,
  .IconContainer {
    text-align: center;
  }

  .BackgroundTitle {
    font-size: 8rem;
  }

  .FrontalTitle {
    font-size: 4rem;
  }

  #home {
    display: none;
  }
  .SendMsgBtn {
    margin-bottom: 3rem;
  }

  .HireButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .HireButtons > a {
    text-align: center;
  }

  .HireMe {
    padding: 1rem;
    width: 50%;
    vertical-align: middle;
    text-align: center;
  }
  .NavItem {
    font-size: 2rem;
  }
  .NavContainer {
    padding: 0 1rem
  }
}

.AppContainer {
  display: flex;
  flex-direction: column;
}

.main > section {
  margin: 10rem 0;
}
